


<div class="video-container">
  <video #videoPlayer id="videoPlayer" [controls]="false" allow="autoplay">
    <source src="http://localhost:4200/assets/videoleft.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <canvas #waveformCanvas class="waveform-canvas" width="800" height="100"></canvas>
</div>

<div >
  <button mat-icon-button (click)="togglePlay()">
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneFrameBackward()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneSecondBackward()">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneSecondForward()">
    <mat-icon>fast_forward</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneFrameForward()">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>