<!-- app.component.html -->
<!-- <div style="padding: 5px;display: flex;">
  <div class="sidepanel">
<mat-accordion class="nested-accordion">
  <mat-expansion-panel *ngFor="let sport of sports" hideToggle>
    <mat-expansion-panel-header class="sportheader">
      <mat-panel-title>
        {{ sport.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel *ngFor="let contest of sport.contests" hideToggle (opened)="contests = true" (closed)="contests = false">
      <mat-expansion-panel-header class="contestheader">
        <mat-panel-title>
          {{ contest.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let match of contest.matches" hideToggle>
        <mat-expansion-panel-header class="matchheader">
          <mat-panel-title>
            {{ match }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>
</div>
<div class="leftpanel">
<div style="width: 80vw;border: 2px solid black;height: 10vh;"></div>
<div style="width: 80vw;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> 1*2 </th>
      <td mat-cell *matCellDef="let element"> {{element.option}} </td>
    </ng-container>
  
    <ng-container matColumnDef="radar">
      <th mat-header-cell *matHeaderCellDef> 108.15 </th>
      <td mat-cell *matCellDef="let element"> {{element.radar | uppercase}} </td>
    </ng-container>
  
    <ng-container matColumnDef="falcon">
      <th mat-header-cell *matHeaderCellDef> 87.78 </th>
      <td mat-cell *matCellDef="let element">
        <div (click)="toggleEditMode(element)">
          <ng-container *ngIf="!element.editMode; else editMode">
            {{ element.falcon }}
          </ng-container>
          <ng-template #editMode>
            <input #inputField type="text" [(ngModel)]="element.falcon" 
                   (keydown.enter)="saveAndToggleEditMode(element)" 
                   (blur)="saveAndToggleEditMode(element)" 
                   (keydown.arrowUp)="navigate('up', element)" 
                   (keydown.arrowDown)="navigate('down', element)" 
                   />
          </ng-template>
        </div>
      </td>
    </ng-container>
    
    
  
    <ng-container matColumnDef="sinlimit">
      <th mat-header-cell *matHeaderCellDef> 58.7 </th>
      <td mat-cell *matCellDef="let element"> {{element.sinlimit}} </td>
    </ng-container>
    <ng-container matColumnDef="sinrisk">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.sinrisk}} </td>
    </ng-container>
    <ng-container matColumnDef="sinbet">
      <th mat-header-cell *matHeaderCellDef> 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.sinbet}} </td>
    </ng-container>
    <ng-container matColumnDef="stake">
      <th mat-header-cell *matHeaderCellDef> 307 </th>
      <td mat-cell *matCellDef="let element"> {{element.stake}} </td>
    </ng-container>
    <ng-container matColumnDef="pnl">
      <th mat-header-cell *matHeaderCellDef> 140 </th>
      <td mat-cell *matCellDef="let element"> {{element.pnl}} </td>
    </ng-container>
    <ng-container matColumnDef="multirisk">
      <th mat-header-cell *matHeaderCellDef> 702 </th>
      <td mat-cell *matCellDef="let element"> {{element.multirisk}} </td>
    </ng-container>
    <ng-container matColumnDef="multidist">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.multidist}} </td>
    </ng-container>

    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef 
          [attr.colspan]="5"> 
        Match pnl
      </th>
    </ng-container>
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-third-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-fourth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-fifth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-sixth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-seventh-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Second group </th>
    </ng-container>
    <ng-container matColumnDef="header-row-eighth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Option </th>
    </ng-container>
    <ng-container matColumnDef="header-row-ninth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Radar </th>
    </ng-container>
    <ng-container matColumnDef="header-row-tenth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Falcon </th>
    </ng-container>
    <ng-container matColumnDef="header-row-11-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> SinLimit </th>
    </ng-container>
    <ng-container matColumnDef="header-row-12-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> SinRisk </th>
    </ng-container>
    <ng-container matColumnDef="header-row-13-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> SinBet </th>
    </ng-container>
    <ng-container matColumnDef="header-row-14-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> Stake </th>
    </ng-container>
    <ng-container matColumnDef="header-row-15-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> P&L </th>
    </ng-container>
    <ng-container matColumnDef="header-row-16-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> MultiRisk </th>
    </ng-container>
    <ng-container matColumnDef="header-row-17-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> MultiDisk </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group', 'header-row-third-group', 'header-row-fourth-group', 'header-row-fifth-group', 'header-row-sixth-group']"></tr>
    <tr mat-header-row *matHeaderRowDef="['header-row-eighth-group','header-row-ninth-group','header-row-tenth-group','header-row-11-group','header-row-12-group','header-row-13-group','header-row-14-group','header-row-15-group','header-row-16-group','header-row-17-group',]"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>
</div>
</div> -->

<div class="video-container">
  <video #videoPlayer [controls]="false" autoplay>
    <source src="http://localhost:4200/assets/videoleft.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <canvas #waveformCanvas class="waveform-canvas" width="800" height="100"></canvas>
</div>

<div >
  <button mat-icon-button (click)="togglePlay()">
    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneFrameBackward()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneSecondBackward()">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneSecondForward()">
    <mat-icon>fast_forward</mat-icon>
  </button>
  <button mat-icon-button (click)="moveOneFrameForward()">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>

<!-- <canvas class="controls" #waveformCanvas width="800" height="100"></canvas> -->
<router-outlet></router-outlet>
